.room-name {
    font-size: larger;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 500;
    display: inline-block;
    padding: 5px 10px;
    color: #2c2c2c;
}

.room-block {
    border: 4px solid whitesmoke;
    position: absolute;
}

.living-room {
    width: 50%;
    height: 65%;
    left: 50%;
    top: 0;
    background-color: #EAE7DC;
}

.pet-living-room {
    left: calc(50% + 50% / 2 - (60px + 10px) / 2);
    top: calc(0px + 65% / 2 - (60px) / 2);
}

.bedroom-small {
    width: 30%;
    height: 35%;
    left: 70%;
    top: calc(65% + 4px);
    background-color: #BDC3C2;
}

.pet-bedroom-small {
    left: calc(70% + 30% / 2 - (60px + 10px) / 2);
    top: calc(65% + 4px + 35% / 2 - (60px) / 2);
}

.bedroom-large {
    width: 30%;
    height: 50%;
    left: 0;
    top: 0;
    background-color: #AF7AC5;
}

.pet-bedroom-large {
    left: calc(0px + 30% / 2 - (60px + 10px) / 2);
    top: calc(0px + 50% / 2 - (60px) / 2);
}

.bathroom {
    width: 20%;
    height: 50%;
    left: 30%;
    top: 0;
    background-color: #D4EFDF;
}

.pet-bathroom {
    left: calc(30% + 20% / 2 - (60px + 10px) / 2);
    top: calc(0px + 50% / 2 - (60px) / 2);
}

.pet-outside {
    left: 20%;
    top: 80%;
}

.isle {
    width: 50%;
    height: 15%;
    left: 0;
    top: 50%;
    background-color: #EAE7DC;
}

.round-image-container {
    position: absolute;
    display: inline-block;
    width: 60px;
    height: 60px;
    overflow: hidden;
    border-radius: 50%;
    border-width: 4px;
    border-style: solid;
    box-sizing: content-box;
    margin: 5px;
    z-index: 1;
    box-shadow: 0 8px 12px rgba(0, 0, 0, 0.3), 0 2px 6px rgba(0, 0, 0, 0.2);
}

.border0 {
    border-color: #fde999;
}

.border1 {
    border-color: rgb(141, 204, 165);
}

.round-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: absolute;
}

.image-container-left {
    margin-left: -25px;
}

.image-container-right {
    margin-left: 50px;
}

.image-container-middle {
    margin-left: 5px;
}

.container {
    display: flex;
    margin: 100px;
}

.home {
    position: relative;
    width: 1200px;
    height: 700px;
    margin: auto;
}

html, body {
    width: 100%;
    margin: 0;
    padding: 0;
    background-color:whitesmoke;
}

.chart {    
    width: calc(100% - 1200px);
    margin-left: 100px;
}

.chart-container {
    position: relative; 
    height: 30vh; 
    width: 30vw;
    margin-bottom: 40px;
}

.chart-title {
    display: flex;
    margin-left: 15px;
    margin-bottom: 30px;
    font-size: x-large;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 500;
    color: #2c2c2c;
}
